.menu {
    background: #181818 repeat left top;
    right: -350px;
    height: 100%;
    top: 0;
    position: fixed;
    width: 290px;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu li:hover {
    transform: scalex(2, 1.0);
    color: #fff;
}

.menu a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid;
}

.icon-close {
    cursor: pointer;
    padding-right: 30px;
    text-align: right;
    padding-top: 10px;
}

.icon-close h1 {
    cursor: pointer;
    padding-left: 10px;
    width: 15px;
    color: #fff;
    font-weight: 600;
}

.icon-menu {
    cursor: pointer;
    font-size: 30px;
    padding-bottom: 25px;
    padding-left: 25px;
    text-decoration: none;
}

.icon-menu i {
    margin-right: 5px;
}

.icon-menu p {
    border-bottom: 2px solid;
    max-width: 79px;
}

#raio { animation: rotate 9s infinite;}
@keyframes rotate {
    0% { transform: scale(0deg);}
    100% { transform: rotate(360deg);}
}   

@media (min-width: 699px) {
    .menu {
        visibility: hidden;
        display: none;
    }

    #MnM {
        display: none;
        visibility: hidden;
    }

    #ApMenu {
        display: flex;
        gap: 2rem;
        visibility: visible;
    }

    #ApMenu li:hover {
        text-decoration: underline; 
        transition: text-decoration 3.5s;
    }

}